.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.375rem ;
  padding-bottom: 4.375rem;

  &__image {
    width: 8.2rem;
    height: 2.375rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    a {
      position: relative;
      font-family: $montserrat;
      font-weight: 500;
      font-size: 1rem;
      padding: 0.4rem;
      border-radius: 0.4rem;
      transition: all 200ms ease;

      &:hover::before {
        position: absolute;
        content: "";
        width: 10%;
        height: 0.135rem;
        left: 0;
        right: 0;
        bottom: -1rem;
        background: $primary-color;
        animation: sweep 900ms ease forwards;
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    > input {
      position: relative;
      width: 12rem;
      height: 2.5rem;
      padding: 0.6rem 0.2rem 0.6rem 3rem;
      border: none;
      border-radius: 2rem;
      outline: none;
      background: rgba(0, 0, 0, 0.06);
      font-size: 0.875rem;
      font-family: $montserrat;
      color: $text-color;

      &::placeholder {
        font-size: 0.875rem;
        color: rgba(0, 0, 0, 0.253);
        font-family: $montserrat;
      }

      + img {
        position: absolute;
        font-size: 0.875rem;
        padding: 0.2rem 0.5rem;
      }
    }

    a {
      padding: 1rem;
    }
  }
}